<openlayers ol-center="center" width="100%" height="100%" ol-view="view" style="position:fixed" ol-controls="controls" custom-layers="true">
    <ol-control name="{{ control.name }}" ng-repeat="control in controls|filter: {active: true}"></ol-control>
    <ol-layer ol-layer-properties="wms_basemap"></ol-layer>
    <ol-layer ol-layer-properties="wms_raster"></ol-layer>
    <ol-layer ol-layer-properties="wms_vector"></ol-layer>
    <ol-marker ol-marker-properties="marker"></ol-marker>

    <div class="row" ng-class="{'keepoff': !show_panel}">
        <div class="col-md-3 col-md-offset-1 well psInfo shadowed">
            <nvd3 options="graph_options" data="data" class="with-3d-shadow with-transitions" api="rc.api"></nvd3>
            <table st-safe-src="data[0].values" st-table="displayed" class="table table-striped">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Valore</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="record in displayed">
                        <td>{{record.x}}</td>
                        <td>{{record.y}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="5"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="legenda" ng-controller="HeaderController">
        <img data-ng-src="{{legends[0]}}">


    </div>
</openlayers>