<div class="switchpanel" data-intro="Data control Panel" data-position="top" ng-controller="SwitchPanelCtrl as switchpanel" style ="background-color: rgba(0, 60, 136, 0.6);" >
	<!-- Split buttons-->

	<!-- Ps Split button -->
	<div class="btn-group" uib-dropdown ng-show="switchpanel.isCollapsed">
		<button type="button" class="btn btn-primary btn-xs" ng-class="{'btn-success':switchpanel.view_overlay_ps}" ng-click="switchpanel.viewPanelPs()">{{switchpanel.ps_metadata.legend.title}}</button>
		<button type="button" class="btn btn-primary btn-xs" ng-class="{'btn-success':switchpanel.view_overlay_ps}" uib-dropdown-toggle>
			<span class="caret"></span>
			<span class="sr-only">Split button!</span>
		</button>
		<ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
			<li role="menuitem"><a ng-click="switchpanel.switchOverlayPs()" style="cursor: pointer" >{{switchpanel.ps_layer_visibility_text}}</a></li>
			<li role="menuitem"><a ng-click="switchpanel.viewPanelPs()" style="cursor: pointer" >Show legend</a></li>
			<li role="menuitem"><a ng-click="switchpanel.viewPanelPsAoi()" style="cursor: pointer" >Select area of interest</a></li>
		</ul>
	</div>
	<!-- Iffi Split button -->
	<div class="btn-group" uib-dropdown ng-show="switchpanel.isCollapsed">
		<button type="button" class="btn btn-primary btn-xs" ng-class="{'btn-success':switchpanel.view_overlay_iffi}" ng-click="switchpanel.viewPanelIffi()">{{switchpanel.iffi_metadata.legend.title}}</button>
		<button type="button" class="btn btn-primary btn-xs" ng-class="{'btn-success':switchpanel.view_overlay_iffi}" uib-dropdown-toggle>
			<span class="caret"></span>
			<span class="sr-only">Split button!</span>
		</button>
		<ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
			<li role="menuitem"><a ng-click="switchpanel.switchOverlayIffi()" style="cursor: pointer">{{switchpanel.iffi_layer_visibility_text}}</a></li>
			<li role="menuitem"><a ng-click="switchpanel.viewPanelIffi()" style="cursor: pointer" >Show legend</a></li>
		</ul>
	</div>
	<!-- Sentinel Split button -->
	<div class="btn-group" uib-dropdown ng-show="switchpanel.isCollapsed">
		<button type="button" class="btn btn-primary btn-xs" ng-class="{'btn-success':switchpanel.view_overlay_sentinel}" ng-click="switchpanel.viewPanelSentinel()">{{switchpanel.sentinel_metadata.legend.title}}</button>
		<button type="button" class="btn btn-primary btn-xs" ng-class="{'btn-success':switchpanel.view_overlay_sentinel}" uib-dropdown-toggle>
			<span class="caret"></span>
			<span class="sr-only">Split button!</span>
		</button>
		<ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
			<li role="menuitem"><a ng-click="switchpanel.switchOverlaySentinel()" style="cursor: pointer" >{{switchpanel.sentinel_layer_visibility_text}}</a></li>
			<li role="menuitem"><a ng-click="switchpanel.viewPanelSentinel()" style="cursor: pointer" >Show legend</a></li>
		</ul>
	</div>

	<!-- Minimize button -->
	<button type="button" style="margin-left: 2px;" class="btn btn-default btn-xs pull-right glyphicon glyphicon-chevron-down"  ng-show="switchpanel.isCollapsed" ng-click="switchpanel.minimize();">
	</button>
	<!-- Maximinize button -->
	<button type="button" style="margin-left: 2px;" class="btn btn-default btn-xs pull-right glyphicon glyphicon-chevron-up"  ng-show="switchpanel.isCollapsed===false" ng-click="switchpanel.minimize();">
	</button>

	<!-- overlay tabs -->
	<div ng-include src="'scripts/components/switch-panel/switch-panel-view-ps.html'"></div>
	<div ng-include src="'scripts/components/switch-panel/switch-panel-view-iffi.html'"></div>
	<div ng-include src="'scripts/components/switch-panel/switch-panel-view-sentinel.html'"></div>
</div>
