<!-- Ps Legend -->
<div class = "panel" ng-show="switchpanel.show_panel_ps" style ="background-color: rgba(0, 60, 136, 0);">
	<div class="switchpaneltop" ng-show="switchpanel.isCollapsed">
		<label class= switchpanelabelmin >{{switchpanel.ps_metadata.legend.description}}</label>
			<label class= switchpanelabel>
			Options:<br/></label>
			<label class= switchpanelabel2><input type="checkbox" ng-click="switchpanel.switchOverlayPs()" ng-checked ="switchpanel.view_overlay_ps"> Layer on</label><br/>
			<label class= switchpanelabel2>Layer opacity
			<input type="range" min="0" max="1" step="0.01" ng-model="switchpanel.ps.opacity">
			</label><br/>
	</div>
	<div class="switchpanelegend">
		<img data-ng-src="{{switchpanel.ps_metadata.legend.url.velocity}}">
		<label style="color: #C6C6C6; display: block; font-size: 10px">{{switchpanel.ps_metadata.legend.uom}}</label>
	</div>
</div>
<!-- Provider Legend -->
<div class = "panel" ng-show="switchpanel.show_panel_ps_provider" style ="background-color: rgba(0, 60, 136, 0);" >
	<div class="switchpaneltop" ng-show="switchpanel.isCollapsed">
			<label style="color: #fff; display: block; font-size: 12px">
			Data Providers:</label><br/>
			<table>
				<tr ng-repeat="subscription in switchpanel.dataProviders">
				  <td>
					<label style="color: #fff; display: block; font-size: 12px"><input type="checkbox" ng-model="subscription.checked" ng-click="updateSelection($index,switchpanel.dataProviders)" />{{subscription.name}}<br/></label>
				  </td>
				</tr>
			</table>
			
		</div>	
		<div class="switchpanelegend">	
		</div>
</div>
<!-- Area of Interest Legend -->
<div class = "panel" ng-show="switchpanel.show_panel_ps_aoi" style ="background-color: rgba(0, 60, 136, 0);" >
	<div class="switchpaneltop" ng-show="switchpanel.isCollapsed">
			<label class= switchpanelabel>Areas of Interest: {{logged}}</label>
			<table>
				<tr ng-repeat="subscription in switchpanel.aoi">
				  <td>
					<label class= switchpanelabel2>
						<a class="aoi" ng-click="switchpanel.updateSelectionArea($index,switchpanel.aoi)">{{subscription.name}}</a>
					</label><br/>
				  </td>
				</tr>
				<tr ng-repeat="subscription in switchpanel.aoi" ng-show="logged">
				  <td>
					<label class= switchpanelabel2>
						<a class="aoi" ng-click="switchpanel.updateSelectionArea($index,switchpanel.aoi)">{{subscription.name}}</a>
					</label><br/>
				  </td>
				</tr>
			</table>
			
		</div>	
		<div class="switchpanelegend">	
		</div>
</div>