<div data-intro="Area Of Interests" data-position="left" ng-controller="FilterPopoupCtrl as filterPop">
	<h4>Persistent Scatterers Map Advanced Filters</h4>
	<h5>Move slider bounds to select desired range</h5>

	<!-- VELOCITY -->
	<hr style="margin-top:5px;margin-bottom:5px;">
	<div>
		<label>Velocity</label>
		<div>
			<input slider type="text" ng-model="filterPop.speedModelValue" options="filterPop.speedOptions" />
		</div>
	</div>

	<!-- COHERENCE -->
	<hr style="margin-top:5px;margin-bottom:5px;">
	<div>
		<label>Coherence</label>
		<div>
			<input slider type="text" ng-model="filterPop.coherenceModelValue" options="filterPop.coherenceOptions" />
		</div>
	</div>

	<!-- PROVIDER -->
	<hr style="margin-top:5px;margin-bottom:5px;">
	<div>
		<label>Data Providers</label>
		<div>
			<table>
				<tr ng-repeat="provider in filterPop.dataProviders">
					<td>
						<label style="font-size: 12px">
							<input type="checkbox" ng-model="provider.checked" ng-click="updateSelection($index,filterPop.dataProviders)" />{{provider.name}}
						</label>
					</td>
				</tr>
			</table>
		</div>
	</div>

</div>
