<div class="geocoder" data-intro="Find a location" data-position="left" ng-controller="GeocoderCtrl as geo">	
	<div class="ol-control" ng-show="geo.searching">
		<form ng-submit="geo.searchLocation()">
			<input style="width:100%;" type="text" placeholder="Search..." ng-model="geo.location" ng-keyup="geo.searchLocation()"/>
		</form>
		<div class="searchResult" >
			<div ng-repeat="result in geo.results">
				<span ng-click="geo.getLocation($index)" ng-bind="result.display_name"></span>
				<!--br>
				<span> {{geo.result.display_name}} </span-->	
			</div>
		</div>
	</div>	
	<button type="button" title="Search Location" ng-model="geo.searching" uib-btn-checkbox >
		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>		
	</button>
	
</div>
