<div ng-show="pstrends.show_trends" ng-controller="PsTrendsCtrl as pstrends">
	<div class="psTrends">
			<div class="inner" data-intro="Persistent Scatterers Trends" data-position="top">
				<div style="align:center;text-align:center">
					<!--button style="margin-left:40px;margin-top:2px;" type="button" class="btn btn-default btn-xs pull-left" >
						<span class="glyphicon glyphicon-chevron-left"></span>
					</button-->
					<b align="center" style="font-size:20px;">Displacements</b>
					<a class="close pull-right" ng-click="pstrends.showPsTrends(false);">&times;</a>
					<!--button style="margin-right:20px;margin-top:2px;"  type="button" class="btn btn-default btn-xs pull-right"  >
						<span class="glyphicon glyphicon-chevron-right"></span>
					</button-->
				</div>
				<div id="top-content" class="psTrendsChart">
					<nvd3 options="pstrends.options" data="pstrends.data" class="with-3d-shadow with-transitions" api="rc.api"></nvd3>
				</div>

				<div id="option-content" class="psTrendsOptions">
					<label style="margin-left:15px;margin-bottom:10px;vertical-align: middle;"ng-show="pstrends.checkboxModelView">
						 Regression line
					</label>
					<input  type="checkbox" ng-model="pstrends.checkboxModelRegression" ng-change="pstrends.setRegressionView()" ng-show="pstrends.checkboxModelView"></input>

					<label style="margin-left:10px;margin-bottom:10px;vertical-align: middle;"ng-show="pstrends.checkboxModelView" >
						 Noise filter
					</label>
					<input id="errorFilter" type="checkbox" ng-model="pstrends.checkboxModelErrorFilter" ng-change="pstrends.filterErrorView()" ng-show="pstrends.checkboxModelView"  ></input>

					<div style="float: right;margin-right:15px;">
						<label id="Precipitations">
							Precipitations:
						</label>
						<select id="CumulativeSelect" ng-model="pstrends.comboboxModel" ng-change="pstrends.changeCumulativeView()">
						 <option value="Daily">Daily</option>
						 <option value="">Cumulative 30 day</option>
						 <option value="Cumulative 60 day">Cumulative 60 day</option>
						 <option value="Cumulative 90 day">Cumulative 90 day</option>
						 <option value="Cumulative 120 day">Cumulative 120 day</option>
						</select>
					</div>

				</div>






				<div id="bottom-content" class="psTrendsTable">
					<table st-safe-src="pstrends.psDetails" st-table="displayed" class="table table-striped table-condensed">
						<thead>
							<tr align="center">
								<td><b>Dataset&nbsp;ID</b></td>
								<td><b>PS&nbsp;ID</b></td>
								<td><b>Sensor&nbsp;ID</b></td>
								<td><b>Coherence (%)</b></td>
								<td><b>Velocity (mm/year)</b></td>
							</tr>
						</thead>
						<tbody>
							<ul lr-infinite-scroll="myEventHandler">
							<tr align="center" ng-repeat="record in displayed">
								<td id="featureinfo_{{record.datasetid}}_{{record.psid}}" title=""><tt style=" color: {{record.color}};"  > &#x26AB;&nbsp;</tt>{{record.datasetid}}</td>
								<td>{{record.psid}}</td>
								<td>{{record.sensorid}}</td>
								<td>{{record.coherence}}</td>
								<td>{{record.velocity}}</td>
							</tr>
							</ul>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="6" class="text-center">
									<div st-pagination="" st-items-by-page="5"></div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
	</div>
</div>
