<div ng-show="pstrends.show_trends" ng-controller="PsTrendsCtrl as pstrends">
	<div class="psTrends" draggable>
			<div class="inner" data-intro="Persistent Scatterers Trends" data-position="bottom">
				<div style="align:center;text-align:center">
					<!--button style="margin-left:40px;margin-top:2px;" type="button" class="btn btn-default btn-xs pull-left" >
						<span class="glyphicon glyphicon-chevron-left"></span>
					</button-->
					<b align="center" style="font-size:20px;">Displacements</b>
					<a class="close pull-right" ng-click="pstrends.showPsTrends(false);">&times;</a>
					<!--button style="margin-right:20px;margin-top:2px;"  type="button" class="btn btn-default btn-xs pull-right"  >
						<span class="glyphicon glyphicon-chevron-right"></span>
					</button-->
				</div>
				<div id="top-content" class="psTrendsChart">
					<nvd3 options="pstrends.options" data="pstrends.data" class="with-3d-shadow with-transitions" api="rc.api"></nvd3>
				</div>
				<div id="bottom-content" class="psTrendsTable">
					<table st-safe-src="pstrends.psDetails" st-table="displayed" class="table table-striped table-condensed">
						<thead>
							<tr align="center">
								<td><b>Dataset&nbsp;ID</b></td>
								<td><b>PS&nbsp;ID</b></td>
								<td><b>Sensor&nbsp;ID</b></td>
								<td><b>Coherence (%)</b></td>
								<td><b>Velocity (mm/year)</b></td>
							</tr>
						</thead>
						<tbody>
							<ul lr-infinite-scroll="myEventHandler">
							<tr align="center" ng-repeat="record in displayed">
								<td><tt style=" color: {{record.color}};" > &#x26AB;&nbsp;</tt>{{record.datasetid}}</td>
								<td>{{record.psid}}</td>
								<td>{{record.sensorid}}</td>
								<td>{{record.coherence}}</td>
								<td>{{record.velocity}}</td>
							</tr>
							</ul>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="6" class="text-center">
									<div st-pagination="" st-items-by-page="5"></div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
	</div>
</div>
