<!--
<div class="ol-control functionSwitcher" ng-controller="ViewSwitcherCtrl">
	<div class="btn-group">
		<label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Left'">PS Viewer</label>
		<label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Right'">S1 Identifier</label>
	</div >
	<label>{{radioModel}}</label>
</div>
-->

<div ng-controller="ViewSwitcherCtrl">
  
    <h4>Radio &amp; Uncheckable Radio</h4>
    <pre>{{radioModel || 'null'}}</pre>
	
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio=views_type.ps_view>Left</label>
        <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Middle'">Middle</label>
        <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Right'">Right</label>
    </div>

</div>